In [3]:
# Import necessary libraries
import pandas as pd

# Load the dataset
data = pd.read_csv("../data/raw/dht11.csv")  # Replace "your_data.csv" with the actual file name

# Display the first few rows to get an overview of the dataset
print("First 5 rows of the dataset:")
data.head()

First 5 rows of the dataset:

,id,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,2211,32.3,53.0,148.0,1,192.0,0,141.0,2024-04-06 22:39:11,1,205.0,1,242.28,186.67
1,2212,32.3,53.0,148.0,1,184.0,0,141.0,2024-04-06 22:39:18,1,205.0,1,233.98,189.99
2,2213,32.3,53.0,148.0,1,189.0,0,141.0,2024-04-06 22:39:24,1,205.0,1,246.43,212.40
3,2214,32.3,53.0,147.0,1,189.0,0,141.0,2024-04-06 22:39:31,1,205.0,1,234.81,183.35
4,2215,32.3,53.0,147.0,1,184.0,0,141.0,2024-04-06 22:39:38,1,205.0,1,237.30,221.53

In [9]:
data

,id,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,2211,32.3,53.0,148.0,1,192.0,0,141.0,2024-04-06 22:39:11,1,205.0,1,242.28,186.67
1,2212,32.3,53.0,148.0,1,184.0,0,141.0,2024-04-06 22:39:18,1,205.0,1,233.98,189.99
2,2213,32.3,53.0,148.0,1,189.0,0,141.0,2024-04-06 22:39:24,1,205.0,1,246.43,212.40
3,2214,32.3,53.0,147.0,1,189.0,0,141.0,2024-04-06 22:39:31,1,205.0,1,234.81,183.35
4,2215,32.3,53.0,147.0,1,184.0,0,141.0,2024-04-06 22:39:38,1,205.0,1,237.30,221.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10487,12698,0.0,0.0,41.0,1,119.0,0,209.0,2024-11-03 11:44:04,1,135.0,1,177.54,148.48
10488,12699,0.0,0.0,40.0,1,180.0,0,196.0,2024-11-03 11:44:11,1,140.0,1,194.97,131.88
10489,12700,0.0,0.0,39.0,1,129.0,0,198.0,2024-11-03 11:44:17,1,143.0,1,186.67,155.95
10490,12701,0.0,0.0,39.0,1,148.0,0,196.0,2024-11-03 11:55:30,1,145.0,1,190.82,126.90
10491,12702,0.0,0.0,39.0,1,152.0,0,201.0,2024-11-03 11:55:30,1,146.0,1,183.35,149.31

In [4]:

# Check the shape of the dataset (number of rows and columns)
print("\nShape of the dataset (rows, columns):")
data.shape

Shape of the dataset (rows, columns):

(10492, 14)

In [5]:

# Check column names and data types
print("\nColumn Names and Data Types:")
data.dtypes

Column Names and Data Types:

id                 int64
temperature      float64
humidity         float64
mq2_analog       float64
mq2_digital        int64
sound_analog     float64
sound_digital      int64
mq9_analog       float64
datatime          object
mq9_digital        int64
mq8_analog       float64
mq8_digital        int64
pm25_density     float64
pm10_density     float64
dtype: object

In [6]:

# Check for missing values in each column
print("\nMissing Values in Each Column:")
data.isnull().sum()

Missing Values in Each Column:

id               0
temperature      0
humidity         0
mq2_analog       0
mq2_digital      0
sound_analog     0
sound_digital    0
mq9_analog       0
datatime         0
mq9_digital      0
mq8_analog       0
mq8_digital      0
pm25_density     0
pm10_density     0
dtype: int64

In [7]:

# Display summary statistics for numerical columns
print("\nSummary Statistics for Numerical Columns:")
data.describe()

Summary Statistics for Numerical Columns:

,id,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
count,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000,10492.000000
mean,7456.500000,30.693557,54.149066,82.524781,0.923465,113.596836,0.552230,181.760961,0.929947,153.895254,0.877240,216.224072,176.443264
std,3028.923846,6.427419,23.177912,96.005994,0.265864,73.919453,0.497288,70.186637,0.255249,113.290246,0.328177,51.331117,41.747665
min,2211.000000,-18.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.100000
25%,4833.750000,29.300000,31.000000,15.000000,1.000000,65.000000,0.000000,131.000000,1.000000,65.000000,1.000000,197.460000,155.120000
50%,7456.500000,30.200000,60.000000,46.000000,1.000000,109.000000,1.000000,195.000000,1.000000,135.000000,1.000000,216.550000,175.880000
75%,10079.250000,34.700000,79.000000,118.000000,1.000000,151.000000,1.000000,232.000000,1.000000,194.000000,1.000000,238.960000,194.140000
max,12702.000000,40.600000,83.000000,1019.000000,1.000000,785.000000,1.000000,638.000000,1.000000,1023.000000,1.000000,849.070000,808.400000

In [8]:

# Check for unique values in each column to understand categorical features
print("\nUnique Values in Each Column:")
{column: data[column].nunique() for column in data.columns}

Unique Values in Each Column:

{'id': 10492,
 'temperature': 76,
 'humidity': 51,
 'mq2_analog': 409,
 'mq2_digital': 2,
 'sound_analog': 381,
 'sound_digital': 2,
 'mq9_analog': 351,
 'datatime': 10433,
 'mq9_digital': 2,
 'mq8_analog': 509,
 'mq8_digital': 2,
 'pm25_density': 383,
 'pm10_density': 362}